extends ../layouts/layout.jade
block content
	article.content
		section
			.container
				.col-md-2
				.col-md-8
					p.entry.text-left.mb10(style="border:0;margin-bottom: 0 !important;") I am so happy to be a part of such a 
						b great companies. 
						| They all encourage me to learning 
						b new technologies
						|  and build 
						b wonderful products
						, which was really important to me.
		section#experiences
			.container
				.col-md-2
					h2.text-right.scd--header.text-left-xs.text-left-sm Experiences
				.col-md-8
					.experience.mt0
						a.logo(href="#",target="_blank")
							img(src="images/logos/3bfab.png")
						.detail
							h3.experience-name 3BFab 3D Printing and Innovation
								span.place (İstanbul-Turkey)
							h4.title Full-Stack Developer
								span.time - Since Jan 2015
							p.description.text-left Developed and supported a number of landing pages earlier in first monts of 2015 as freelance developer. At the moment I’m working on re-branded website and web forms integrated with Salesforce.
					.experience
						a.logo(href="#",target="_blank")
							img(src="images/logos/performans.png")
						.detail
							h3.experience-name Performans İletişim
								span.place (Bursa-Turkey)
							h4.title Front-end Developer
								span.time - 12 months 
							p.description.text-left Lead front-end developer. Made all the interactions with the back end work, creating clean, semantic and accessible markup, cross-browser CSS3 coding.
					.experience
						a.logo(href="#",target="_blank")
							img(src="images/logos/mezun.png")
						.detail
							h3.experience-name Mezun Group
								span.place (İstanbul-Turkey)
							h4.title Freelance Front-end Developer
								span.time - 9 months 
							p.description.text-left Redesigned company website using HTML5, CSS3 WordPress, theme customization. Prepared Email marketing bulletins and landing pages for Mezun Group companies. 
					.experience
						a.logo(href="#",target="_blank")
							img(src="images/logos/zdn.png")
						.detail
							h3.experience-name ZDN Group
								span.place (Bursa-Turkey)
							h4.title Front-end Developer
								span.time - 6 months 
							p.description.text-left Worked with team of developers to redesign ZDN Group’s web projects. Performed user testing of the new sites and worked with outside vendor development team to resolve design and coding issues. Also I lead an Android based augmented reality mobile project named DuppAR while working for ZDN Group.  
					.experience.mb50
						a.logo(href="#",target="_blank")
							img(src="images/logos/bilgiyazan.png")
						.detail
							h3.experience-name Bilgiyazan Yazılım Eğitim
								span.place (Bursa-Turkey)
							h4.title Jr. Front-end Developer & Educator 
								span.time - 20 months 
							p.description.text-left Designed and developed branding and identity for various clients. Prepared Email marketing HTML. Also made C#  programming language workshops for Uludag University Math Club.
					h3.text-left.scd--header Please contact me for 
						a(href="/contact") here
						|  detailed portfolio.
block scripts