extends ../layouts/layout.jade
block content
	article.content
		section
			.container
				.col-md-2
					h2.text-right.scd--header.text-left-xs.text-left-sm
				.col-md-8
					.welcome.mb20
						img.pp(src="images/pp.jpg")
						p.text-left.entry.mb30(style="color:#0061a2") I'm 
							b Ömer Göktuğ Poyraz
							br
							b Front-end Developer
							|  from Istanbul, Turkey
							br
							| I work for 
							b 3BFab 3D Printing and Innovation.
					blockquote
						p.quote.text-left “Technology is nothing. What's important is that you have a faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them.” 
							span.name Steve Jobs 
								span.title - Legendary Apple CEO
						.person
							figure
								img(src="images/bg/steve.jpg")
					p.text-left.mb20 As Steve Jobs mentioned above I strongly beleive in that to be innovative in technology, you should care about people needs and expectations.
					p.text-left That’s why one of my carrier goal as a front-end developer, is to innovate and create websites & applications that will have a positive impact and take the user experience to a new level.
block scripts