extends ../layouts/layout.jade
block content
	article.content
		section
			.container
				.col-md-2
				.col-md-8
					p.entry.text-left.mb10(style="border:0;margin-bottom: 0 !important;") I know it's kinda boring to list like that. But sometimes people wants to see 
						b my backpack 
						| before travel. So here it is :)
		section#prg-languages
			.container
				.col-md-2
					h2.text-right.scd--header.text-left-xs.text-left-sm Programming Languages
				.col-md-8
					.chart
						img.logo(src="/images/logos/html5.png")
						.description
							h3.title HTML5
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="90")
					.chart
						img.logo(src="/images/logos/css3.png")
						.description
							h3.title CSS3 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="95")
					.child-chart
						img.logo(src="/images/logos/sass.png")
						.description
							h3.title SASS 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="50")
					.child-chart
						img.logo(src="/images/logos/less.png")
						.description
							h3.title LESS 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="80")
					.chart
						img.logo(src="/images/logos/js.png")
						.description
							h3.title Javascript 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="95")
					.child-chart
						img.logo(src="/images/logos/coffee.png")
						.description
							h3.title Coffee Script 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="30")
					h4.text-left.thrd--header Secondary Languages
					.child-chart
						img.logo(src="/images/logos/Csharp.png")
						.description
							h3.title C#
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="60")
					.child-chart
						img.logo(src="/images/logos/java.png")
						.description
							h3.title Java
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="30")
					.child-chart
						img.logo(src="/images/logos/cpp.png")
						.description
							h3.title C++
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="40")
					.child-chart
						img.logo(src="/images/logos/swift.png")
						.description
							h3.title Swift
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="20")
		section#js-frameworks
			.container
				.col-md-2
					h2.text-right.scd--header.text-left-xs.text-left-sm Javascript Frameworks
				.col-md-8
					.chart
						img.logo(src="/images/logos/jquery.png")
						.description
							h3.title JQuery 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="90")
					.chart
						img.logo(src="/images/logos/lodash.png")
						.description
							h3.title Lodash 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="75")
					.chart
						img.logo(src="/images/logos/threejs.png")
						.description
							h3.title Three.js
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="35")
		section#front-end-techs
			.container
				.col-md-2
					h2.text-right.scd--header.text-left-xs.text-left-sm Front-end Techs
				.col-md-8
					.chart
						img.logo(src="/images/logos/express.png")
						.description
							h3.title Express.js 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="75")
					.chart
						img.logo(src="/images/logos/angular.png")
						.description
							h3.title Angular.js 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="60")
					.chart
						img.logo(src="/images/logos/grunt.png")
						.description
							h3.title Grunt
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="85")
					.chart
						img.logo(src="/images/logos/gulp.png")
						.description
							h3.title Gulp 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="85")
					.chart
						img.logo(src="/images/logos/jade.png")
						.description
							h3.title Jade
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="90")
					h4.text-left.thrd--header Front-end Frameworks
					.child-chart
						img.logo(src="/images/logos/bootstrap.png")
						.description
							h3.title Bootstrap
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="95")
					.child-chart
						img.logo(src="/images/logos/mdl.png")
						.description
							h3.title Material Design
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="80")
		section#back-end-techs
			.container
				.col-md-2
					h2.text-right.scd--header.text-left-xs.text-left-sm Back-end Techs
				.col-md-8
					.chart
						img.logo(src="/images/logos/aspnet.png")
						.description
							h3.title ASP.NET
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="80")
					.chart
						img.logo(src="/images/logos/nodejs.png")
						.description
							h3.title Node.js
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="60")
					.chart
						img.logo(src="/images/logos/rest.png")
						.description
							h3.title REST 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="80")
		section#vrs-control
			.container
				.col-md-2
					h2.text-right.scd--header.text-left-xs.text-left-sm Version Control Systems
				.col-md-8
					.chart
						img.logo(src="/images/logos/git.png")
						.description
							h3.title Git
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="70")
					.chart
						img.logo(src="/images/logos/tfs.png")
						.description
							h3.title Team Foundation Server
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="90")
		section#prg-tools
			.container
				.col-md-2
					h2.text-right.scd--header.text-left-xs.text-left-sm Programming & Design Tools
				.col-md-8
					.chart
						img.logo(src="/images/logos/visualstudio.png")
						.description
							h3.title MS Visual Studio
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="80")
					.chart
						img.logo(src="/images/logos/sublimetext.png")
						.description
							h3.title Sublime Text
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="90")
					.chart
						img.logo(src="/images/logos/atom.png")
						.description
							h3.title Atom
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="55")
					.chart
						img.logo(src="/images/logos/eclipse.png")
						.description
							h3.title Eclipse 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="40")
					.chart
						img.logo(src="/images/logos/adobecc.png")
						.description
							h3.title Adobe CC Pack 
							p.styled
								meter(min="0",max="100",low="25",high="75",optimum="100",value="70")
block scripts