header
	#headerCanvasYo
	.container
		.col-md-8.col-md-offset-2.col-xs-12.col-xs-offset-0
			a(href="/")
				h1 Ömer Göktuğ Poyraz
			nav.social-nav
				ul
					//- li
					//- 	a(href="https://www.facebook.com/ogoktugpoyraz",target="_blank") 
					//- 		i.fa.fa-facebook
					li
						a(href="https://twitter.com/OGPoyraz",target="_blank") 
							i.fa.fa-twitter
					li
						a(href="https://www.linkedin.com/pub/%C3%B6mer-g%C3%B6ktu%C4%9F-poyraz/5b/649/a64",target="_blank") 
							i.fa.fa-linkedin
					li
						a(href="https://www.github.com/OGPoyraz",target="_blank") 
							i.fa.fa-github
					li
						a(href="https://medium.com/@OGPoyraz",target="_blank") 
							i.fa.fa-medium
					//- li
					//- 	a(href="https://instagram.com/ogpoyraz",target="_blank") 
					//- 		i.fa.fa-instagram
					//- li
					//- 	a(href="https://player.spotify.com/user/11141135120",target="_blank") 
					//- 		i.fa.fa-spotify
		.col-md-8.col-md-offset-2.col-xs-12.col-xs-offset-0
			nav.main-nav
				ul
					//- li
					//- 	a(href="/about") About me
					li
						a(href="/skills") Profs
					li
						a(href="/experiences") Experiences
					//- li.visible-xs.visible-sm.hidden-md
					//- 	a(href="/interest") Interests
					//- li.hidden-xs.hidden-sm.visible-md.visible-lg
					//- 	a(href="/interest") Things I interest
					li
						a(href="/contact") Contact
			//- nav.main-nav(style="float:right")
			//- 	ul
			//- 		li
			//- 			a(href="/login") Login