meta(charset="UTF-8")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")

//- SEO Meta Tags
block seoTags
	meta(name="description", content="Ömer Göktuğ Poyraz personal website")
	meta(name="keywords", content="Ömer Göktuğ Poyraz personal website, Ömer Göktuğ Poyraz kişisel websitesi, Ömer Göktuğ Poyraz kimdir, Ömer Göktuğ Poyraz")

//- Facebook Share Meta Tags
//- Image : 486 x 254
//- Title : Share title 
//- Description : Share description 
//- Url : Page Url 
block facebookTags
	meta(property="og:image", content="/images/pp.jpg")
	meta(property="og:title", content="Ömer Göktuğ Poyraz personal website")
	meta(property="og:url", content="http://ogpoyraz.com")
	meta(property="og:description", content="Ömer Göktuğ Poyraz (1988) is a Front End Developer from Istanbul, Turkey. He works for 3BFab 3D Printing and Innovation.")

//- Twitter Share Meta Tags
//- Image : 560 x 300 (280 x 150 atleast)
//- Title : Share title 
//- Card : summary_large_image
//- Description : Share description 
//- Url : Page Url 
block twitterTags
	meta(name="twitter:card", content="summary_large_image")
	meta(name="twitter:url", content="http://ogpoyraz.com")
	meta(name="twitter:title", content="Ömer Göktuğ Poyraz personal website")
	meta(name="twitter:description", content="Ömer Göktuğ Poyraz (1988) is a Front End Developer from Istanbul, Turkey. He works for 3BFab 3D Printing and Innovation.")
	meta(name="twitter:image:src", content="/images/pp.jpg")